@font-face {
    font-family: "Kollektif";
    src: url("/kollektif/Kollektif.ttf"); }
@font-face {
    font-family: "Kollektif";
    src: url("/kollektif/Kollektif-Bold.ttf");
    font-weight: bold; }
@font-face {
    font-family: "Kollektif";
    src: url("/kollektif/Kollektif-Italic.ttf");
    font-style: italic; }
@font-face {
    font-family: "Kollektif";
    src: url("/kollektif/Kollektif-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold; }

html {
    font-family: Kollektif, Geneva, sans-serif;
    font-size: 16px;
}
body {
    position: relative;
    margin: 0;
    background-color: #eee;
    padding-top: 2.75rem;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #aaa;
    padding: 0.75rem 0.5rem;
    /*background-color: #eee;*/
    background-color: #ceeca2;
    z-index: 2;

    display: flex;
}
header .logo { margin-right: auto}
header .greeting {}
header .right {margin-left: auto;}

main {
    min-height: 90vh;
}

.footer {
    max-width: 40rem;
    margin: 4rem auto 5rem auto;
    text-align: center;
}
main article:first-child { margin-top: 0rem; }
main article:last-child { margin-bottom: 1rem; }
main article {
    max-width: 40rem;
    margin: 1rem auto 0 auto;
    padding: 0.5rem;
    border: 1px solid #ddd;
    line-height: 1.25;
}
main article h1 {
    margin: 0.25rem 0;
    font-size: 1.25rem;
}

main article .summary img {
    /*text-align: center;*/
    display: block;
    margin: 0 auto;
}
/*main article .summary :not(img) {*/
    /*text-align: left;*/
    /*position: relative;*/
    /*left: 0;*/
/*}*/


main article .summary img {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    max-width: 80%;
    max-height: 20em;
}
